.sidebar{
background: rgb(77,7,112);
background: linear-gradient(90deg, rgba(77,7,112,0.7147233893557423) 0%, rgba(6,152,186,0.5438550420168067) 100%, rgba(65,65,214,0.053658963585434205) 100%);
    position: fixed;
}
.sidebar li{
    margin-bottom: 1.7em;
    
}
.sidebar li:hover span{
    display: inline-block;
    transform: translate(5px);
    transition: all .5s;
}